@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="w-100">
    <h1 class="text-center fw-bold m-3">View Reservations</h1>

    @model IEnumerable<ReservationProject.Data.Reservation>
    @{
        ViewData["Title"] = "Index";

    }
    <hr />
    <table border="1" width="100%" class="table table-striped">
        <thead class="table-dark">
            <tr>
                <td>Id</td>
                <td>Restaurant Name</td>
                <td>Person Name</td>
                <td>Sitting</td>
                <td>Source</td>
                <td>Status</td>
                <td>Guests</td>
                <td>Start Time</td>
                <td>End Time</td>
                <td>Note</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody class="table-light">
            @foreach (var r in Model)
            {
                <tr>
                    <td>@r.Id</td>
                    <td>@r.Sitting.Restaurant.Name</td>
                    <td>@r.Person.Fullname</td>
                    <td>@r.Sitting.Name</td>
                    <td>@r.ReservationSource.Name</td>
                    <td>@r.ReservationStatus.Name</td>
                    <td>@r.Guests</td>
                    <td>@r.StartTime</td>
                    <td>@r.EndTime</td>
                    <td>@r.Note</td>
                    <td>

                        <a asp-action="Details" class="btn btn-primary" asp-route-id="@r.Id">Details</a> |
                        <a asp-action="Update" class="btn btn-warning" asp-route-id="@r.Id">Update</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-action="Create" class="btn btn-primary">Create Reservation</a>
    <a asp-action="Index" asp-controller="Home" class="btn btn-secondary"> Return Dashboard</a>
</div>

