@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1 class="text-center fw-bold m-5">View Reservations</h1>

@model IEnumerable<ReservationProject.Data.Reservation>
@{
    ViewData["Title"] = "Index";

}

<a asp-action="Create" class="btn btn-primary">Create</a>
<hr />
<table border="1" width="100%">
    <thead>
        <tr><td>Id</td><td>Restaurant Name</td>Person Name<td>Sitting</td>Source<td>Status</td>Guests<td><td>Start Time</td><td>End Time</td><td>Capacity</td><td>Note</td></tr>
    </thead>
    <tbody>
        @foreach (var r in Model)
        {
        <tr>
            <td>@r.Id</td>
            <td>@r.Person</td>
            <td>@r.ReservationSource</td>
            <td>@r.ReservationStatus</td>
            <td>@r.Guests</td>
            <td>@r.StartTime</td>
            <td>@r.EndTime</td>
            <td>
                <a asp-action="Details" asp-route-id="@r.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@r.Id">Delete</a> |
                <a asp-action="Update" asp-route-id="@r.Id">Update</a>
            </td>
        </tr>
        }
    </tbody>
</table>