@model ReservationProject.Data.Sitting
<h1 class="text-center fw-bold m-3">Sitting Details</h1>
<hr />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form asp-action="Details" class="text-center">
                <dl class="col-12 ">
                    <dt >
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd >
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt >
                        @Html.DisplayNameFor(model => model.StartTime)
                    </dt>
                    <dd >
                        @Html.DisplayFor(model => model.StartTime)
                    </dd>
                    <dt >
                        @Html.DisplayNameFor(model => model.EndTime)
                    </dt>
                    <dd >
                        @Html.DisplayFor(model => model.EndTime)
                    </dd>
                    <dt >
                        @Html.DisplayNameFor(model => model.Capacity)
                    </dt>
                    <dd >
                        @Html.DisplayFor(model => model.Capacity)
                    </dd>
                    <dt >
                        @Html.DisplayNameFor(model => model.Restaurant)
                    </dt>
                    <dd >
                        @Html.DisplayFor(model => model.Restaurant.Name)
                    </dd>
                    <dt >
                        @Html.DisplayNameFor(model => model.IsClosed)
                    </dt>
                    <dd >
                        @Html.DisplayFor(model => model.IsClosed)
                    </dd>
                </dl>
                <div class="form-group">
                    <a asp-action="Index" class="btn btn-primary">Back to List</a>

                </div>
            </form>
        </div>
    </div>
</div>


