@model IEnumerable<ReservationProject.Areas.Admin.Models.Report.Index>
@{
    ViewData["Title"] = "Index";

}

<h1 class="text-center fw-bold m-5">View Sittings</h1>
<a asp-action="Create" class="btn btn-primary">Create</a>
<hr />
<table border="1" width="100%" class="table table-striped">
    <thead class="table-dark">
        <tr>
            <td>Id</td>
            <td>Restaurant Name</td>
            <td>Sitting Name</td>
            <td>Start Time</td>
            <td>End Time</td>
            <td>Capacity</td>
            <td>Total Reservations</td>
            <td>Pending</td>
            <td>Confirmed</td>
            <td>Seated</td>
            <td>Completed</td>
            <td>Cancelled</td>
        </tr>
    </thead>
    <tbody class="table-light">
        @foreach (var r in Model)
        {
        <tr>
            <td>@r.Id</td>
            <td>@r.Restaurant.Name</td>
            <td>@r.Name</td>
            <td>@r.StartTime</td>
            <td>@r.EndTime</td>
            <td>@r.Capacity</td>
            <td>@r.Total Reservations</td>
            <td>@r.Pending</td>
            <td>@r.Confirmed</td>
            <td>@r.Seated</td>
            <td>@r.Completed</td>
            <td>@r.Cancelled</td>
        </tr>
        }
    </tbody>
</table>
