
@model IEnumerable<ReservationProject.Data.Reservation>
@{
    ViewData["Title"] = "Index";

}

<div class="bg-body bg-opacity-50 p-3">
    <h1 class="text-center text-dark m-3">View Reservations</h1>
</div>

<div class="d-flex justify-content-center ">
    <div class="w-75 shadow bg-body rounded">
        <table width="100%" class="table table-striped ">
            <thead class="table-dark">
                <tr>
                    <td>Id</td>
                    <td>Restaurant Name</td>
                    <td>Person Name</td>
                    <td>Sitting</td>
                    <td>Source</td>
                    <td>Status</td>
                    <td>Guests</td>
                    <td>Start Time</td>
                    <td>End Time</td>
                    <td>Note</td>
                </tr>
            </thead>
            <tbody class="table-light">
                @foreach (var r in Model)
                {
                    <tr>
                        <td>@r.Id</td>
                        <td>@r.Sitting.Restaurant.Name</td>
                        <td>@r.Person.Fullname</td>
                        <td>@r.Sitting.Name</td>
                        <td>@r.ReservationSource.Name</td>
                        <td>@r.ReservationStatus.Name</td>
                        <td>@r.Guests</td>
                        <td>@r.StartTime</td>
                        <td>@r.EndTime</td>
                        <td>@r.Note</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

