@* Index page is for displaying a list of Employees, Options include View Details, Edit Employee, Delete Employee*@
@* Edit Employee Includes Reset Password for Admin Only *@
@* Other Options Include Create new Employee*@

@model ReservationProject.Areas.Admin.Models.Employee.Index

@{
    ViewData["Title"] = "Index";

}

<h1>Person - Index</h1>
<a asp-action="Create" class="btn btn-primary">Create</a>
<hr />
<h2>Admins</h2>
<table border="1" width="100%">
    <thead>

        <tr>
            <td>Id</td>
            <td>Email</td>
            <td>Full Name</td>
            <td>Phone</td>
            <td>Role</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var admin in Model.Admin)
        {
            <tr>
                <td>@admin.Id</td>
                <td>@admin.Email</td>
                <td>@admin.Fullname</td>
                <td>@admin.Phone</td>
                <td>Admin</td>

                <td>
                    <a asp-action="Details" asp-route-id="@admin.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@admin.Id">Delete</a> |
                    <a asp-action="Update" asp-route-id="@admin.Id">Update</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<h2>Staffs</h2>
<table border="1" width="100%">
    <thead>

        <tr>
            <td>Id</td>
            <td>Email</td>
            <td>Full Name</td>
            <td>Phone</td>
            <td>Role</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var staff in Model.Staff)
        {
        <tr>
            <td>@staff.Id</td>
            <td>@staff.Email</td>
            <td>@staff.Fullname</td>
            <td>@staff.Phone</td>
            <td>Staff</td>


            <td>
                <a asp-action="Details" asp-route-id="@staff.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@staff.Id">Delete</a> |
                <a asp-action="Update" asp-route-id="@staff.Id">Update</a>
            </td>
        </tr>
        }
    </tbody>
</table>
