@* Index page is for displaying a list of Employees, Options include View Details, Edit Employee, Delete Employee*@
@* Edit Employee Includes Reset Password for Admin Only *@
@* Other Options Include Create new Employee*@

@model ReservationProject.Areas.Admin.Models.Employee.Index

@{
    ViewData["Title"] = "Index";

}
<div class="shadow bg-body p-3">
    <table border="1" width="100%" class="table table-striped">
        <thead class="table-dark">
            <tr>
                <td>Email</td>
                <td>Full Name</td>
                <td>Phone</td>
                <td>Role</td>
                <td>Actions</td>
            </tr>

        </thead>
        <tbody class="table-light">
            @foreach (var admin in Model.Admin)
            {
                <tr>
                    <td>@admin.Email</td>
                    <td>@admin.Fullname </td>
                    <td>@admin.PhoneNumber</td>
                    <td>Admin</td>

                    <td>
                        <a asp-action="Details" class="btn btn-primary" asp-route-id="@admin.Id">Details</a> |
                        <a asp-action="Update" class="btn btn-warning" asp-route-id="@admin.Id">Update</a> |
                    </td>
                </tr>
            }
            @foreach (var admin in Model.Staff)
            {
                <tr>
                    <td>@admin.Email</td>
                    <td>@admin.Fullname </td>
                    <td>@admin.PhoneNumber</td>
                    <td>Staff</td>

                    <td>
                        <a asp-action="Details" class="btn btn-primary" asp-route-id="@admin.Id">Details</a> |
                        <a asp-action="Update" class="btn btn-warning" asp-route-id="@admin.Id">Update</a> |
                    </td>
                </tr>
            } @foreach (var admin in Model.Deactivate)
            {
                <tr>
                    <td>@admin.Email</td>
                    <td>@admin.Fullname </td>
                    <td>@admin.PhoneNumber</td>
                    <td>Deactivate</td>

                    <td>
                        <a asp-action="Details" class="btn btn-primary" asp-route-id="@admin.Id">Details</a> |
                        <a asp-action="Update" class="btn btn-warning" asp-route-id="@admin.Id">Update</a> |
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

