@* Index page is for displaying a list of Employees, Options include View Details, Edit Employee, Delete Employee*@
@* Edit Employee Includes Reset Password for Admin Only *@
@* Other Options Include Create new Employee*@

@model IEnumerable<ReservationProject.Data.Person>

@{
    ViewData["Title"] = "Index";

}

<h1>Person - Index</h1>
<a asp-action="Create" class="btn btn-primary">Create</a>
<hr />
<table border="1" width="100%">
    <thead>
        <tr><td>Id</td><td>First Name</td><td>Last Name</td><td>Role</td></tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
        <tr>
            <td>@p.Id</td>
            <td>@p.FirstName</td>
            <td>@p.LastName</td>
            
            <td>
                <a asp-action="Details" asp-route-id="@p.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@p.Id">Delete</a> |
                <a asp-action="Update" asp-route-id="@p.Id">Update</a>
            </td>
        </tr>
        }
    </tbody>
</table>
