
@model ReservationProject.Data.Reservation



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <p class="display-5">Successfully Booked - Pending Confirmation from Restaurant</p>

    <div>
        <h1 class="text-center fw-bold m-3">Details for Reservation</h1>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StartTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StartTime)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Duration)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Duration)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Guests)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Guests)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Note)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Note)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ReservationStatus)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ReservationStatus.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ReservationSource)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ReservationSource.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Sitting.Restaurant.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Sitting.Restaurant.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Sitting)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Sitting.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Person.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Person.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Person.Fullname)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Person.Fullname)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Person.Phone)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Person.Phone)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Index" class="btn btn-secondary">Back to Menu</a>
    </div>
</body>
</html>