@model ReservationProject.Models.MultiViewModel

<div class="row">
    <div class="col-12 card overflow-hidden border-0 bg-white m-sm-12 m-0 p-0">
        <img class="card-img" src="/img/bean-scene-header.png" alt="Bean Scene Cafe Interior" data-image-dimensions="1920x854" data-image-focal-point="0.5,0.5" />
        <div class="card-img-overlay d-flex justify-content-center h-75 flex-column fw-bolder fs-1">
            <p class="text-light align-self-center">Welcome to Bean Scene @Model.Create.FirstName </p>
            <a href="#Reservation-Form" class="btn btn-light btn-lg align-self-center" style="width: 200px;" id="BookingButton">Make Reservation</a>
            <img class="align-self-center" />
        </div>
    </div>
</div>


<div class="text-center">
    <h1 class="display-4 mt-3" id="Reservation-Form">Reservations</h1>
    <p> Please fill in the information below</p>

    @* Carousel Section *@

    <div class="d-flex justify-content-center w-auto">
        <div class="row">
            <div class="col-md-4">
                @*<form asp-action="FindSitting" id="calendarSubmit" hidden>
                    <div class="form-group">
                        <label asp-for="GetDate.ObtainDate" class="control-label"></label>
                        <input asp-for="GetDate.ObtainDate" value="@ViewData["FormDate"]" id="calendarDate" class="form-control" onload="setDate" />
                        <span asp-validation-for="GetDate.ObtainDate" class="text-danger"></span>
                    </div>
                </form>*@
                <form asp-action="Index">
                    <div id="FormController" class="carousel slide" data-bs-ride="carousel" data-bs-interval='false' style="min-height:800px; width: 700px;">
                        <div class="carousel-inner d-block" style="min-height: 400px">

                            @* ITEM 1 - ITEM 1 - ITEM 1 - ITEM 1 - ITEM 1 - ITEM 1 - ITEM 1 - ITEM 1 - ITEM 1 - ITEM 1 - ITEM 1 - *@
                            <div class="carousel-item active ">
                                <div class="d-inline-block p-6">
                                    <div>
                                        <p class="fs-3">Select Time and Date</p>
                                        <p>For bookings of 9+, please contact <a class="d-inline-block text-decoration-none email-link" href="mailto:reservations@beanscene.com.au">reservations@beanscene.com.au</a></p>

                                    </div>
                                    <div class="progress" style="width: 500px;">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 1%"></div>
                                    </div>
                                </div>
                                <div class="p-4">
                                    @* CALENDAR - CALENDAR - CALENDAR - CALENDAR - CALENDAR - CALENDAR - CALENDAR - CALENDAR - CALENDAR - CALENDAR - *@
                                    <div class="col-sm-10 shadow p-3 mb-2 ms-5 bg-body rounded">
                                        <div class="calendar-wrapper" id="calenderInput"> </div>
                                    </div>
                                    @*CONTENT - CONTENT - CONTENT - CONTENT - CONTENT -*@
                                    <div class="col-sm-10 shadow p-3 mb-2 ms-5 bg-body rounded" id="Reservation">
                                        <div class="form-group" hidden>
                                            <label asp-for="Create.ResDate" class="control-label"></label>
                                            <input asp-for="Create.ResDate" value="" id="calendarDate" class="form-control" onload="setDate" />
                                            <span asp-validation-for="Create.ResDate" class="text-danger"></span>
                                        </div>
                                       
                                        <div class="form-group p-2" id="SittingDiv">
                                            <label asp-for="Create.SittingId" class="form-label"></label>
                                            <select asp-for="Create.SittingId" id="SittingsList" class="form-select">
                                                <option value="">Select Sitting Type...</option>
                                            </select>
                                            <span asp-validation-for="Create.SittingId" class="text-danger"></span>
                                        </div>
                                        <div id="TimeDiv">
                                            <div class="form-group p-2">
                                                <label asp-for="Create.ResTime" class="control-label"></label>
                                                @*<input asp-for="Create.ResTime" class="form-control" value="" />*@
                                                <select asp-for="Create.ResTime" id="selectTime" class="form-select">
                                                    <option value="">Select</option>
                                                </select>
                                                <span asp-validation-for="Create.ResTime" class="text-danger"></span>
                                            </div>
                                            <div class="form-group p-2">
                                                <label asp-for="Create.Duration" class="control-label"></label>
                                                <select asp-for="Create.Duration" class="form-select">
                                                    <option value="75">75 Minutes</option>
                                                    <option value="90" selected>90 Minutes (Default)</option>
                                                    <option value="105">105 Minutes</option>
                                                    <option value="120">120 Minutes</option>
                                                </select>
                                                <span asp-validation-for="Create.Duration" class="text-danger"></span>
                                            </div>
                                            <div class="form-group p-2">
                                                <label asp-for="Create.Guests" class="control-label"></label>
                                                <select asp-for="Create.Guests" class="form-select">
                                                    <option value="">Please Select Number of Guest</option>
                                                    <option value="1">1 Person</option>
                                                    <option value="2">2 Person</option>
                                                    <option value="3">3 Person</option>
                                                    <option value="4">4 Person</option>
                                                    <option value="5">5 Person</option>
                                                    <option value="6">6 Person</option>
                                                    <option value="7">7 Person</option>
                                                    <option value="8">8 Person</option>
                                                </select>
                                                <span asp-validation-for="Create.Guests" class="text-danger"></span>
                                            </div>
                                            <div class="d-flex justify-content-end">
                                                <div class="gap-2 p-3 d-md-block">

                                                    <a class="btn btn-primary fs-6 next-control" href="#Reservation-Form" type="button" style="width: 100px;">Next</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @* ITEM 2 - ITEM 2 - ITEM 2 - ITEM 2 - ITEM 2 - ITEM 2 - ITEM 2 - ITEM 2 - ITEM 2 - ITEM 2 - ITEM 2 - *@
                            <div class="carousel-item">
                                <div class="d-inline-block p-6">
                                    <div>
                                        <p class="fs-3">Enter Details</p>
                                        <p>Requested DateTime and Guest Number</p>

                                    </div>
                                    <div class="progress" style="width: 500px;">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
                                    </div>
                                </div>
                                <div class="col-sm-10 shadow p-3 mb-2 ms-5 bg-body rounded">
                                    <div class="form-group p-2">
                                        <label asp-for="Create.FirstName" class="control-label"></label>
                                        <input asp-for="Create.FirstName" class="form-control" value="@Model.Create.FirstName" />
                                        <span asp-validation-for="Create.FirstName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group p-2">
                                        <label asp-for="Create.LastName" class="control-label"></label>
                                        <input asp-for="Create.LastName" class="form-control" value="@Model.Create.LastName" />
                                        <span asp-validation-for="Create.LastName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group p-2">
                                        <label asp-for="Create.Email" class="control-label"></label>
                                        <input asp-for="Create.Email" class="form-control" value="@Model.Create.Email" />
                                        <span asp-validation-for="Create.Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group p-2">
                                        <label asp-for="Create.Phone" class="control-label"></label>
                                        <input asp-for="Create.Phone" class="form-control" value="@Model.Create.Phone" />
                                        <span asp-validation-for="Create.Phone" class="text-danger"></span>
                                    </div>
                                    <div class="form-group p-2">
                                        <label asp-for="Create.Note" class="control-label"></label>
                                        <input asp-for="Create.Note" class="form-control" value="" />
                                        <span asp-validation-for="Create.Note" class="text-danger"></span>
                                    </div>
                                    @*<div class="form-group p-2">
                                        <input type="submit" class="btn btn-primary" />
                                    </div>*@
                                    <div class="d-flex justify-content-end">
                                    <div class="gap-2 p-3 d-md-block">
                                        <a class="btn btn-primary fs-6 prev-control" href="#Reservation-Form" type="button" style="width: 100px;">Prev</a>

                                    </div>  
                                    <div class="gap-2 p-3 d-md-block">

                                        <a class="btn btn-primary fs-6 next-control1" href="#Reservation-Form" type="button" style="width: 100px;">Next</a>
                                    </div>
                                   </div>
                                </div>
                            </div>
                             @* ITEM 3 - ITEM 3 - ITEM 3 - ITEM 3 - ITEM 3 - ITEM 3 - ITEM 3 - ITEM 3 - ITEM 3 - ITEM 3 - ITEM 3 - *@
                            <div class="carousel-item">
                                <div class="d-inline-block p-6">
                                    <div>
                                        <p class="fs-3">Reservation Details</p>
                                        <p>Confirm Details</p>

                                    </div>
                                    <div class="progress" style="width: 500px;">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
                                    </div>
                                </div>
                                <div class="col-sm-10 shadow p-3 mb-2 ms-5 bg-body rounded">
                                    
                                    <label >Date</label>
                                     <p id="dateinfo"></p>
                                     <label >Sitting</label>
                                     <p id="sittinginfo" ></p>
                                     <label >Reservation Time</label>
                                     <p id="timeinfo"></p>
                                     <label >Duration</label>
                                     <p id="durationinfo"></p>
                                     <label >Guests</label>
                                     <p id="guestinfo" ></p>
                                     <label >First Name</label>
                                     <p id="firstnameinfo" ></p>
                                     <label >Last Name</label>
                                     <p id="lastnameinfo" ></p>
                                     <label >Phone</label>
                                     <p id="phoneinfo" ></p>
                                     <label >Email</label>
                                     <p  id="emailinfo"></p>
                                     <label >Note</label>
                                     <p  id="noteinfo"></p>

                                    
                                    <div class="form-group p-2">
                                        <a class="btn btn-primary fs-6 prev-control" href="#Reservation-Form" type="button" style="width: 100px;">Prev</a>

                                        <input type="submit" class="btn btn-primary" />
                                    </div>
                                   
                                   </div>
                                </div>
                            </div>
                        </div>
                </form>
            </div>
        </div>


    </div>
</div>

@section Styles{

    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/theme.css" rel="stylesheet" />
}

@section Scripts{

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/calendar.js"></script>
    <script src="~/js/customCalender.js"></script>
    <script src="~/js~/js/regex.js"></script>

    <script>
        $(document).ready(function () {

            if (window.location.href.indexOf("ObtainDate") > -1) {
                window.location.href = "#Reservation";
            }

            $("#myCarousel").carousel({ interval: false });

            $(".prev-control").click(function () {
                $("#FormController").carousel("prev");
            });
            $(".next-control").click(function () {
                                    debugger

                if(document.getElementById("selectTime").value!=0
                &&document.getElementById("Create_Guests").value!=0){

                                        let date = $('#calendarDate').val();
                                        let sit=$( "#SittingsList option:selected" ).text()
                                        document.getElementById("dateinfo").innerHTML=date.toString();
                                        document.getElementById("timeinfo").innerHTML=document.getElementById("selectTime").value
                                        document.getElementById("sittinginfo").innerHTML=sit
                                        document.getElementById("durationinfo").innerHTML=document.getElementById("Create_Duration").value+" minutes"
                                        document.getElementById("guestinfo").innerHTML=document.getElementById("Create_Guests").value

                                    $("#FormController").carousel("next");

                }
                
            });  
            $(".next-control1").click(function () {
                //regular expression to do
                if(document.getElementById("Create_LastName").value!=""
                &&document.getElementById("Create_FirstName").value!=""
                &&document.getElementById("Create_Email").value!=""
                &&document.getElementById("Create_Phone").value!=""){
                                        document.getElementById("firstnameinfo").innerHTML =document.getElementById("Create_FirstName").value
                                        document.getElementById("lastnameinfo").innerHTML =document.getElementById("Create_LastName").value
                                        document.getElementById("emailinfo").innerHTML =document.getElementById("Create_Email").value
                                        document.getElementById("phoneinfo").innerHTML =document.getElementById("Create_Phone").value
                                        if(document.getElementById("Create_Note").value!=""){
                                              document.getElementById("noteinfo").innerHTML =document.getElementById("Create_Note").value

                                        }
                                        else{
                                             document.getElementById("noteinfo").innerHTML ="None"

                                        }
                                    $("#FormController").carousel("next");

                }
                
            });

            $('#TimeDiv').hide();

            $('.calendar-wrapper').on("click", function () {
                var date = $('#calendarDate').val();
                $.ajax({
                    url: '@Url.Action("GetSittings")',
                    data: { 'date': date },
                    type: "POST",
                    cache: false,
                    success: function (response) {

                        $('#SittingsList').html('');
                        var options = '';

                        if (response.length > 0) {
                            options += "<option value='0'>--Select Sitting--</option>";

                            for (var i = 0; i < response.length; i++) {
                                options += "<option value='" + response[i].id + "'>" + response[i].name + "</option>";
                            }
                        }
                        else {
                            options += "<option value='0'>--No Avaliable Sittings--</option>";
                        }
                        $('#SittingsList').append(options);

                    },
                });
            })
            $('#SittingsList').on("change", function () {
                var sitting = $('#SittingsList').val();
                $.ajax({
                    url: '@Url.Action("GetTimes")',
                    data: { 'id': sitting },
                    type: "POST",
                    cache: false,
                    success: function (response) {

                        $('#selectTime').html('');
                        var options = '';

                        if (response.length > 0) {
                            $('#TimeDiv').show();
                            options += "<option value='0'>--Select Date--</option>";

                            var startTime = new Date(response[0]);
                            var endTime = new Date(response[1]);

                            for (var time = startTime; time < endTime;) {
                                options += "<option value='" + time.toLocaleTimeString() + "'>" + time.toLocaleTimeString() + "</option>";

                                time = new Date(time.getTime() + 15 * 60000);
                            }
                        }
                        else {
                            options += "<option value='0'>--Select Sitting First--</option>";
                            $('#TimeDiv').hide();
                        }
                        $('#selectTime').append(options);

                    },
                });
            })
        });
    </script>
}