@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model ReservationProject.Models.Home.Index

<div class="container-fluid">
    <div class="row">
        <div class="col-12" style="background-image: url('../../../img/Bean-scene-head2.png'); height:876px;">

            <div class="d-flex justify-content-center flex-column fs-2 p-5 h-75 w-100">
                @if (SignInManager.IsSignedIn(User))
                {
                    <p class="text-light align-self-center">Welcome Back</p>
                }
                else
                {
                    <p class="text-light align-self-center">- Welcome -</p>
                }
                <a href="#Reservation-Form" class="btn btn-light btn-lg align-self-center" style="width: 200px;" id="BookingButton">Make Reservation</a>
            </div>
        </div>
    </div>
</div>


<div class="bg-dark p-3 text-center text-white fs-6">
    <p class="text-info fs-5 m-1">Visit Us</p>
    <p class="m-1">"A reservation for Bean Scene is highly recommended."</p>

</div>
<div class="text-center"  style="background-image: url('../../../img/Bean-scene-bg2.png');">
    @* Carousel Section *@
    <div class="container pt-5 pb-5">
        <div class="row justify-content-center bg-opacity-25 bg-body pb-5 pt-5"  id="Reservation-Form">
            <div class="col-sm-10 col-md-8 col-lg-7 container bg-white mb-3 p-3">
                <p class="fs-1 mb-0">Reservations</p>
                <p class="fs-4 m-0"> Please fill in the information below</p>
            </div>
            <form asp-action="Index" class="col-sm-10 col-md-8 col-lg-7 p-0 pb-5">
                <div id="FormController" class="carousel slide" data-bs-ride="carousel" data-bs-interval='false'>
                    <div class="carousel-inner" style="min-width: 325px;">

                        @* ITEM 1 - ITEM 1 - ITEM 1 - ITEM 1 - ITEM 1 - ITEM 1 - ITEM 1 - ITEM 1 - ITEM 1 - ITEM 1 - ITEM 1 - *@
                        <div class="carousel-item active bg-white p-3 rounded-3">
                            <div class="p-6">
                                <div>
                                    <p class="m-0">For bookings of 9+, please contact </p>
                                    <a class="d-block text-decoration-none email-link mb-3" href="mailto:reservations@beanscene.com.au">reservations@beanscene.com.au</a>
                                </div>
                                <div class="progress w-100 mb-3">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 1%"></div>
                                </div>
                            </div>
                            @* CALENDAR - CALENDAR - CALENDAR - CALENDAR - CALENDAR - CALENDAR - CALENDAR - CALENDAR - CALENDAR - CALENDAR - *@
                            <div class="shadow p-3 mb-2">
                                <div class="calendar-wrapper" id="calenderInput"> </div>
                            </div>
                            @*CONTENT - CONTENT - CONTENT - CONTENT - CONTENT -*@
                            <div class="shadow p-3 bg-body rounded" id="Reservation">
                                <div class="form-group m-0" hidden>
                                    <label asp-for="ResDate" class="control-label"></label>
                                    <input asp-for="ResDate" value="" id="calendarDate" class="form-control" onload="setDate" />
                                    <span asp-validation-for="ResDate" class="text-danger"></span>
                                </div>

                                <div class="form-group p-2 m-0" id="SittingDiv">
                                    <label class="form-label">Sittings</label>
                                    <select asp-for="SittingId" id="SittingsList" class="form-select">
                                        <option value="">Please Select A Date</option>
                                    </select>
                                    <span id="sittingHelp" class="text-danger"></span>
                                </div>
                                <div id="TimeDiv">
                                    <div class="form-group p-2 m-0">
                                        <label asp-for="ResTime" class="control-label"></label>
                                        @*<input asp-for="Create.ResTime" class="form-control" value="" />*@
                                        <select asp-for="ResTime" id="selectTime" class="form-select">
                                            <option value="">Select</option>
                                        </select>
                                        <span id="timeHelp" class="text-danger"></span>
                                    </div>
                                    <div class="form-group p-2 m-0">
                                        <label asp-for="Duration" class="control-label"></label>
                                        <select asp-for="Duration" id="Create_Duration" class="form-select">
                                            <option value="75">75 Minutes</option>
                                            <option value="90" selected>90 Minutes (Default)</option>
                                            <option value="105">105 Minutes</option>
                                            <option value="120">120 Minutes</option>
                                        </select>
                                    </div>
                                    <div class="form-group p-2">
                                        <label asp-for="Guests" class="control-label"></label>
                                        <select asp-for="Guests" id="Create_Guests" class="form-select">
                                            <option value="0">Please Select Number of Guest</option>
                                            <option value="1">1 Person</option>
                                            <option value="2">2 Person</option>
                                            <option value="3">3 Person</option>
                                            <option value="4">4 Person</option>
                                            <option value="5">5 Person</option>
                                            <option value="6">6 Person</option>
                                            <option value="7">7 Person</option>
                                            <option value="8">8 Person</option>
                                        </select>
                                        <span id="guestHelp" class="text-danger"></span>
                                    </div>
                                    <div class="d-flex justify-content-end">
                                        <div class="gap-2 p-3 d-md-block">
                                            <a class="btn btn-info fs-6 next-control" href="#Reservation-Form" style="width: 100px; color: aqua">Next</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        @* ITEM 2 - ITEM 2 - ITEM 2 - ITEM 2 - ITEM 2 - ITEM 2 - ITEM 2 - ITEM 2 - ITEM 2 - ITEM 2 - ITEM 2 - *@
                        <div class="carousel-item ">
                            <div class="shadow p-3 mb-2 bg-body rounded">
                                <div class="mb-3">
                                    <h4 class="font-weight-bold">Reservation Selected</h4>
                                    <p id="reservationandguest"></p>
                                    <div class="progress w-100 mb-3">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 50%; color:aqua"></div>
                                    </div>
                                </div>

                                <div class="form-group p-2">
                                    <label class="control-label">First Name</label>
                                    <input asp-for="FirstName" id="Create_FirstName" class="form-control" value="@Model.FirstName" />
                                    <span id="fnameHelp" class="text-danger"></span>
                                </div>
                                <div class="form-group p-2">
                                    <label class="control-label">Last Name</label>
                                    <input asp-for="LastName" id="Create_LastName" class="form-control" value="@Model.LastName" />
                                    <span id="lnameHelp" class="text-danger"></span>
                                </div>
                                <div class="form-group p-2">
                                    <label asp-for="Email" class="control-label"></label>
                                    <input asp-for="Email" id="Create_Email" class="form-control" value="@Model.Email" />
                                    <span id="emailHelp" class="text-danger"></span>
                                </div>
                                <div class="form-group p-2">
                                    <label asp-for="Phone" class="control-label"></label>
                                    <input asp-for="Phone" id="Create_Phone" class="form-control" value="@Model.Phone" />
                                    <span id="phoneHelp" class="text-danger"></span>
                                </div>
                                <div class="form-group p-2">
                                    <label asp-for="Note" class="control-label"></label>
                                    <textarea asp-for="Note" id="Create_Note" rows="5" class="form-control" value="" placeholder="eg Highchair, window seat and dietary restrictions Max 100 Characters" onkeyup="countChars(this);"></textarea>
                                    <p id="noteCount">0 out of 100 Characters</p>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <div class="gap-2 p-3 d-md-block">
                                        <a class="btn btn-info fs-6 prev-control ps-4 pe-4" href="#Reservation-Form" type="button">Previous</a>
                                    </div>
                                    <div class="gap-2 p-3 d-md-block">
                                        <a class="btn btn-info fs-6 next-control1 ps-4 pe-4" href="#Reservation-Form" type="button">Next</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @* ITEM 3 - ITEM 3 - ITEM 3 - ITEM 3 - ITEM 3 - ITEM 3 - ITEM 3 - ITEM 3 - ITEM 3 - ITEM 3 - ITEM 3 - *@
                        <div class="carousel-item">
                            <div class="shadow p-3 mb-2 bg-body rounded">
                                <div>
                                    <p class="fs-3">Confirm Details</p>
                                    <div class="progress w-100 mb-3">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                                    </div>
                                </div>
                                <label class="fw-bold fs-5">Sitting</label>
                                <p id="sittinginfo"></p>
                                <label class="fw-bold fs-5">Reservation Time</label>
                                <p id="timeinfo"></p>
                                <label class="fw-bold fs-5">Duration</label>
                                <p id="durationinfo"></p>
                                <label class="fw-bold fs-5">Guests</label>
                                <p id="guestinfo"></p>
                                <label class="fw-bold fs-5">First Name</label>
                                <p id="firstnameinfo"></p>
                                <label class="fw-bold fs-5">Last Name</label>
                                <p id="lastnameinfo"></p>
                                <label class="fw-bold fs-5">Phone</label>
                                <p id="phoneinfo"></p>
                                <label class="fw-bold fs-5">Email</label>
                                <p id="emailinfo"></p>
                                <label class="fw-bold fs-5">Note</label>
                                <p id="noteinfo"></p>

                                <div class="form-group p-2">
                                    <a class="btn btn-info fs-6 prev-control" href="#Reservation-Form" type="button" style="width: 100px;">Previous</a>
                                    <input type="submit" class="btn btn-info" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Styles{

    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/theme.css" rel="stylesheet" />
}

@section Scripts{

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/calendar.js"></script>
    <script src="~/js/customCalender.js"></script>
    <script src="~/js~/js/regex.js"></script>

    <script>
        const nameregex=/([A-Z]){2,}/i;
        const emailregex=/^[\w-\.]+@@([\w-]+\.)+[\w-]{2,4}$/;
        const phoneregex=/^\d{8,10}$/;
          function countChars(obj){
                var maxLength = 100;
                var strLength = obj.value.length;
    
                if(strLength > maxLength){
                    document.getElementById("noteCount").innerHTML = '<span style="color: red;">'+strLength+' out of '+maxLength+' characters</span>';
                }else{
                    document.getElementById("noteCount").innerHTML = strLength+' out of '+maxLength+' characters';
            }
}
        $(document).ready(function () {

            $("#myCarousel").carousel({ interval: false });

            $(".prev-control").click(function () {
                $("#FormController").carousel("prev");
            });
            $(".next-control").click(function () {
                                    

                if(document.getElementById("selectTime").value!=0
                    && document.getElementById("Create_Guests").value != 0) {
                                            document.getElementById("timeHelp").innerHTML=""
                                            document.getElementById("guestHelp").innerHTML=""


                                        const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
                                        const weekdays=["Sun","Mon","Tue","Wed","Thu","Fri","Sat"]
                                        let date = new Date($('#calendarDate').val());
                                        let sit=$( "#SittingsList option:selected" ).text()
                                        document.getElementById("timeinfo").innerHTML=weekdays[date.getDay()]+" "+date.getDate()+" "+months[date.getMonth()]+" "+date.getFullYear()+"<br/>"+document.getElementById("selectTime").value
                                        document.getElementById("sittinginfo").innerHTML=sit
                                        document.getElementById("durationinfo").innerHTML=document.getElementById("Create_Duration").value+" minutes"
                                        document.getElementById("guestinfo").innerHTML=document.getElementById("Create_Guests").value
                                         document.getElementById("reservationandguest").innerHTML=weekdays[date.getDay()]+", "+date.getDate()+" "+months[date.getMonth()]+" "+date.getFullYear()+"<br/>"+document.getElementById("selectTime").value+'<br/> Reservation for '+document.getElementById("Create_Guests").value+" guests"
                                    $("#FormController").carousel("next");

                }
                else {
                  
                    if(document.getElementById("selectTime").value==0)
                    {
                        document.getElementById("timeHelp").innerHTML="Please select a reservation time"
                        
                    }
                    else{
                        document.getElementById("timeHelp").innerHTML=""

                    }
                    if(document.getElementById("Create_Guests").value==0)
                    {
                        document.getElementById("guestHelp").innerHTML="Please select a number of guests"
                        
                    }
                    else{
                        document.getElementById("guestHelp").innerHTML=""

                    }

                }
                
            });  
            $(".next-control1").click(function () {
                
                //regular expression to do
                if(nameregex.test(document.getElementById("Create_LastName").value)
                &&nameregex.test(document.getElementById("Create_FirstName").value)
                &&emailregex.test(document.getElementById("Create_Email").value)
                &&phoneregex.test(document.getElementById("Create_Phone").value)
                &&document.getElementById("Create_Note").value.length<=100){
                    
                                        document.getElementById("fnameHelp").innerHTML=""
                                        document.getElementById("lnameHelp").innerHTML=""
                                        document.getElementById("emailHelp").innerHTML=""
                                        document.getElementById("phoneHelp").innerHTML=""

                                        document.getElementById("firstnameinfo").innerHTML =document.getElementById("Create_FirstName").value
                                        document.getElementById("lastnameinfo").innerHTML =document.getElementById("Create_LastName").value
                                        document.getElementById("emailinfo").innerHTML =document.getElementById("Create_Email").value
                                        document.getElementById("phoneinfo").innerHTML =document.getElementById("Create_Phone").value
                                        if(document.getElementById("Create_Note").value!=""){
                                              document.getElementById("noteinfo").innerHTML =document.getElementById("Create_Note").value

                                        }
                                        else{
                                             document.getElementById("noteinfo").innerHTML ="None"

                                        }
                                    $("#FormController").carousel("next");

                }
                if(nameregex.test(document.getElementById("Create_LastName").value)){
                                         document.getElementById("lnameHelp").innerHTML=""

                }
                else{
                                          document.getElementById("lnameHelp").innerHTML="Last Name needs at least 2 characters"

                }
                if(nameregex.test(document.getElementById("Create_FirstName").value)){
                                         document.getElementById("fnameHelp").innerHTML=""

                }
                else{
                                          document.getElementById("fnameHelp").innerHTML="Last Name needs at least 2 characters"

                }
                if(emailregex.test(document.getElementById("Create_Email").value)){
                                      document.getElementById("emailHelp").innerHTML=""

                }
                else{
                                       document.getElementById("emailHelp").innerHTML="Please enter valid Email"

                }
                if(phoneregex.test(document.getElementById("Create_Phone").value)){
                                         document.getElementById("phoneHelp").innerHTML=""

                }
                else{
                                         document.getElementById("phoneHelp").innerHTML="Please enter valid Phone Number (Numbers Only)"

                }
                
            });

            $('#TimeDiv').hide();

            $('.calendar-wrapper').on("click", function () {
                var date = $('#calendarDate').val();
                $.ajax({
                    url: '@Url.Action("GetSittings")',
                    data: { 'date': date },
                    type: "POST",
                    cache: false,
                    success: function (response) {

                        $('#SittingsList').html('');
                        var options = '';

                        if (response.length > 0) {
                            options += "<option value='0'>Select Sitting</option>";

                            for (var i = 0; i < response.length; i++) {
                                options += "<option value='" + response[i].id + "'>" + response[i].name + "</option>";
                            }
                        }
                        else {
                            options += "<option value='0'>No Avaliable Sittings on Selected Date</option>";
                        }
                        $('#SittingsList').append(options);

                    },
                });
            })
            $('#SittingsList').on("change", function () {
                var sitting = $('#SittingsList').val();
                $.ajax({
                    url: '@Url.Action("GetTimes")',
                    data: { 'id': sitting },
                    type: "POST",
                    cache: false,
                    success: function (response) {

                        $('#selectTime').html('');
                        var options = '';

                        if (response.length > 0) {
                            $('#TimeDiv').show();
                            options += "<option value='0'>Select Time</option>";

                            var startTime = new Date(response[0]);
                            var endTime = new Date(response[1]);

                            for (var time = startTime; time < endTime;) {
                                options += "<option value='" + time.toLocaleTimeString() + "'>" + time.toLocaleTimeString() + "</option>";

                                time = new Date(time.getTime() + 15 * 60000);
                            }
                        }
                        else {
                            options += "<option value='0'>--Select Sitting First--</option>";
                            $('#TimeDiv').hide();
                        }
                        $('#selectTime').append(options);

                    },
                });
            })
        });
    </script>
}